Source: check-network
Maintainer: Zell Faze <zellfaze@zellfaze.org>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: check-network
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Network Checker
 Small ping monitoring utility meant to be used from XFCE panel